::-webkit-scrollbar { 
    display: none; 
}

body{

background-color: #1e3799;
text-decoration: none;
text-align: center;
font-size: 17px;
font-family: Arial;
color:white;
padding-left: 15%;
padding-right: 15%;
}

img{

  width: 50%;
  padding-bottom: 2%;
}



p{
  text-align: left;
  font-size: 17px;
  padding-left: 5%;
  padding-right: 5%;

}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 5%;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #1289A7;
  color: #FDA7DF;
}

.iframe-container {
  overflow: hidden;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   left: 0;
   width: 100%
   height:100%;
   text-align: center;
   padding-right: 5%;
   top: 0;

}
 
.everything{
  background-color:#0c2461;
   padding-top: 2%;
   padding-left: 7%;
   padding-right: 7%;
   padding-bottom: 10%
 

}
.videos{

}